@model IList<empresaapp.Models.Client>

@{
    ViewData["Title"] = "Clientes"; 
}
<h2>Index</h2>
<<<<<<< HEAD
@Html.ActionLink("Novo","Form","Client",null, new {@class = "btn btn-primary"})

=======
@Html.ActionLink("Novo","Form","Client", null,new {@class = "btn btn-primary"})
>>>>>>> bffc058b60c059de536ef9b41f2023c97b833b76
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Address</td>

                <td>@Html.ActionLink("Alterar","Edit","Client",
                     new {id=item.Id} ,new {@class = "btn btn-primary"})
                </td>
            </tr>
        }
    </tbody>
</table>