@model IList<empresaapp.Models.Client>

@{
    ViewData["Title"] = "Clientes"; 
}
<h2>Index</h2>
@Html.ActionLink("Novo","Form","Client",null, new {@class = "btn btn-primary"})

<table class="table" id="clientes">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Address</td>

                <td>@Html.ActionLink("Alterar","Edit","Client",
                     new {id=item.Id} ,new {@class = "btn btn-lg btn-primary"})
                    <button class='btn btn-danger btn-lg js-delete'
								data-customer-id="@item.Id">
								Excluir
					</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript"> 
        $(document).ready(function(){
            $("#clientes").on("click", ".js-delete", function(){
                var button = $(this);
                bootbox.confirm("Você tem certeza que quer excluir este cliente?",function(result){
                    if(result){
                        $.ajax({
                            url: "/Client/Delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function () {
                                window.location.href = "/Client/"
                            }
                        });
                    }
                });
            });
        }); 
    </script>
}